numpy==1.24.1
scipy==1.10.0
nibabel==3.2.2
matplotlib==3.6.3
pandas==1.5.2
pyaml==21.10.1
nipype==1.8.4
nilearn==0.10.0
pexpect==4.8.0
hydra-core==1.3
pyprojroot==0.2.0
wandb==0.14.2
black==23.3.0
typer==0.9.0

