name: Build and run test simulations
on:
  pull_request:
  push:
jobs:

  build-and-run-test-simulations:
    runs-on: ubuntu-22.04
    env:
      LD_LIBRARY_PATH: simpet/include/fruitcake/book/lib/
    steps:
      - uses: actions/checkout@v3
      - run: echo $LD_LIBRARY_PATH && pwd && ls -l
      - run: ./setup.sh
